$width__menu__input: 260px;
$width__container:1170px;
$font__Arial: Arial, sans-serif;
$font__Roboto:Roboto,sans-serif;
$font__Cousine:Cousine,sans-serif;
$font__Merriweather: MerriweatherSans,sans-serif;